/*  your css code here. If applicable */
#yellow {
	background-color : yellow ;
	border-width : 1px  ;
	border-color : green  ;
	border : solid 1px ;
}

#red {
	background-color : red ;
	border-width : 1px ;
	border-color : black ;
	border : solid 1px;
}

#green {
	background-color : green ;
	border-width : 1px ;
	border-color : yellow ;
	border : solid 1px  ;
}